#about-us-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#about-us-bg > img {
    height: 100%;
    width: 100%;
    border: 0;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.content-warp .info-content{
    margin-top: 30px;
}
.content-warp p {
    height: 30px;
    line-height: 30px;
}
.info-content span{
    margin-left:30px;
}
.contact-content p i {
    margin-right: 30px;
}

