<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:user.home}/logs/log4j2/metadata</property>
        <property name="BACKUP_HOME">${LOG_HOME}/backup</property>
        <property name="SERVER_NAME">global</property>

        <!--file names-->
        <property name="EXCEPTION_FILE_NAME">exception</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level [%t] %logger{36}:%L - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${SERVER_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/${SERVER_NAME}-%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ExceptionLog"
                                 fileName="${LOG_HOME}/${EXCEPTION_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/${EXCEPTION_FILE_NAME}-%d{yyyy-MM-dd-HH}.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t][%file:%L] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!--<Logger name="com.framework.interceptor.ExceptionInterceptor" level="ERROR" additivity="false">-->
            <!--<AppenderRef ref="ExceptionLog"/>-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DevLog"/>
            <AppenderRef ref="ExceptionLog"/>
        </Root>
    </Loggers>
</Configuration>
